.list{
  border:1px solid #BDC3C7;
  padding: 5px 0;
  border-radius:5px;
}
label{
  margin-left:5px;
}
.container{
  margin-bottom: 0;
}
.badge{
  float: right;
  margin-right: 5px;
  margin-top: 3PX;
  font-size: 10px;
}
.btn{
  margin-top: 10px;
}
input.forEdit{
  border:none;
}
.btn-success{
  margin-left: 10px;
}